extends base

block content 
    if errorMessage
        p=errorMessage
    form(method="POST")
        input(name="name", type="text", required, placeholder="Name", value=loggedInUser.name)
        input(name="email", type="email", required, placeholder="Emial", value=loggedInUser.email)
        input(name="username", type="text", required, placeholder="Username", value=loggedInUser.username)
        input(name="location", type="text", required, placeholder="Location", value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        